.modal-codigo {
  width: 520px; /* Aumenta a largura */
  background: #fff;
  padding: 25px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.titulo-modal {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  color: #0077ff; /* Azul */
  margin-bottom: 10px;
}

.email-texto {
  font-size: 15px;
  margin-bottom: 15px;
}

.code-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.code-box {
  width: 50px;
  height: 55px;
  font-size: 26px;
  text-align: center;
  border: 2px solid #0077ff;
  border-radius: 10px;
  outline: none;
}

.btn-confirmar {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 10px;
  background: #0077ff;
  color: #fff;
  cursor: pointer;
}

.btn-reenviar {
  margin-top: 15px;
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
  color: #0077ff;
}

.btn-reenviar:disabled {
  color: gray;
  cursor: not-allowed;
}

.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}
