.promo-card {
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-top: 4px solid rgba(51, 112, 235, 0.5);
  background-color: white;
  transition: all 0.3s ease;
}

.promo-card.featured {
  background-color: var(--petnet-yellow);
  border: 4px solid var(--petnet-blue);
  transform: scale(1.05);
  position: relative;
  z-index: 10;
}
