@media (min-width: 768px) {
  .hero-content {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  .about-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .section-card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .hero-image {
    display: none;
  }
}
